* {
box-sizing: border-box;

}

.jumbotron {

background-image: url("train2.jpg");
/* 
background-repeat: no-repeat; */
color: wheat;

}

#sched-header {
color:wheat;
background: skyblue;
padding:15px;
font-size: 30px;
margin: 0px;


}

.card-body {
    /* border:maroon;*/
    margin: 10px; 
}

#submit {
    margin-right:200px;
    float:right;
    background: skyblue;
    color: wheat;
}

hr {
    margin:0px;
    width: 3px;
}

#inputForm {
    margin-top: 15px;
}

#trainLabel {
    margin-top:15px;
}
#card-header,
.form-group {
    font-weight: bold;
}

#cardTrain{
    margin-left: 15px;
}

.del-btn {
    float:right;
    background: skyblue;
    color: wheat; 
}

.float-left {
    float: left;
    background: skyblue;
}

.float-right {
    float: right;
    background: skyblue;
    padding:20px;
    font-size: 20px;
}
.card-head {
    background: skyblue;
    color: wheat; 
}